@media (max-width: 767px)
{
    body{
        font-size: 14px;
    }

    ._look{
        overflow: hidden;
    }

	.wrap{
		padding-bottom: 62px;
	}

	.header__contact{
        display: none;
    }

    .header__btns{
        display: none;
    }

    .header__topwrap{
        height: 75px;
    }

    .header__top{
        background: #fff;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.12);
        padding: 9px 0;
		position: relative;
    }

	.header__top_fixmob{
		position: fixed;
        top: 63px;
	}

    .header._show .header__top{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .header__top .cont{
        gap: 15px;
        height: 57px;
    }

    .header__logo-slogan{
        margin-top: 0;
        line-height: 1;
    }

    .header__bot{
        display: none;
    }

    .header__info{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        overflow: hidden;
        overflow-y: auto;
        z-index: 98;
        box-shadow: none;
        border: none;
        padding-top: 80px;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .header._show .header__info{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header-menu__item{
        width: 100%;
        border-bottom: 1px solid #E6E6E6;
    }

    .header-menu__link{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.08;
        padding: 19px 0;
    }

    .header-menu__link._sub{
        padding-right: 36px;
    }

    .header-menu__link._sub .header-menu__link-span{
        padding-left: 0;
    }

    .header-menu__link._sub::before{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 26px;
        height: 26px;
        margin-top: -13px;
        border-radius: 50%;
        background: #D4E6EC url(../images/arrow.svg) 50% no-repeat;
    }

    .header-menu__link._active._sub::before{
        transform: rotate(90deg);
    }

    .header-menu__link-burger{
        display: none;
    }

    .header-menu__link-number {
        right: -15px;
        top: -2px;
    }

    .submenu{
        position: relative;
        top: 0;
        left: 0;
        width: calc(100% + 40px);
        margin: 0 -20px -1px;
        padding: 12px 20px;
        height: auto;
        max-height: none;
        display: none;

        transition: none;
    }

    .submenu._show{
        display: block;
        pointer-events: none;
    }

    .header._show .submenu._show{
        pointer-events: auto;
    }

    .submenu .cont{
        padding: 0;
        height: auto;
    }
    
    .submenu__items{
        height: auto;
        padding: 0;
        width: 100%;
        overflow: hidden;
        margin: 0;
    }
    
    .submenu__close{
        display: none;
    }

    .submenu__list{
        display: none;
    }

    .submenu__item + .submenu__item{
        margin-top: 17px;
    }

    .submenu__item._active-pc::before{
        display: none;
    }

    .submenu__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
        padding: 0;
        color: #204F63;
        padding-right: 36px;
        position: relative;
    }

    .submenu__item._active-pc .submenu__link {
        background-color: transparent;
        color: #204F63;
    }

    .submenu__link::before{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 26px;
        height: 26px;
        margin-top: -13px;
        border-radius: 50%;
        background: url(../images/arrow.svg) 50% no-repeat;
    }

    .header__info-mob{
        display: block;
        padding: 23px 0;
        text-align: center;
    }

    .header__info .header__write{
        width: 198px;
        font-size: 16px;
        height: 51px;
        line-height: 51px;
        margin: 0 auto;
    }

    .header__info .header__write-icon{
        width: 41px;
        height: 41px;
    }

    .header__info-phones{
        margin-top: 25px;
    }

    .header__info-phone{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.08;
        text-align: center;
    }

    .header__info-phone a{
        color: currentColor;
        text-decoration: none;
    }

    .header__info-phone + .header__info-phone{
        margin-top: 15px;
    }

    .header__info-time{
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        text-align: center;
        color: #858585;
    }

    .header__info .header__request{
        margin: 30px auto 0;
        display: block;
        width: 276px;
        font-size: 18px;
        line-height: 60px;
    }

    .mob-phone{
        display: block;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 1px solid #D4E6EC;
        background: url(../images/tel.svg) 50% no-repeat;
        margin-left: auto;
    }

    .mob-menu-btn
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 1px solid #D4E6EC;
        padding: 13px;

        cursor: pointer;
    }

    .mob-menu-btn span
    {
        position: relative;

        display: block;

        width: 100%;
        height: 3px;

        border-radius: 50px;
        background: #204F63;
    }

    .mob-menu-btn span + span
    {
        margin-top: 4px;
    }

    .mob-menu-btn._active span:nth-child(2)
    {
        opacity: 0;
    }

    .mob-menu-btn._active span:nth-child(1)
    {
        top: 7px;

        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .mob-menu-btn._active span:nth-child(3)
    {
        top: -7px;

        width: 100%;

        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

    .header__mob{
        display: block;
        height: 63px;
    }

    .header__mob-top{
        border-bottom: 1px solid #EBEBEB;
        padding: 10px 0 9px;
        position: relative;
        background: #fff;
        z-index: 91;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
    }

    .header__mob .cont{
        gap: 15px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header__contacts-metro{
        font-weight: 600;
        font-size: 9px;
        line-height: normal;
        padding-left: 16px;
        position: relative;
    }

    .header__contacts-metro:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 11px;
        height: 10px;
        margin-top: -5px;
        background: url(../images/metro.svg) 50%/contain no-repeat;
    }

    .header__contacts-adres{
        font-weight: 600;
        font-size: 9px;
        line-height: normal;
        padding-left: 16px;
        position: relative;
        margin-top: 3px;
    }

    .header__contacts-adres:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 12px;
        background: url(../images/marker2.svg) 50%/contain no-repeat;
    }

    .header__contacts-time{
        font-weight: 600;
        font-size: 9px;
        line-height: normal;
        padding-left: 16px;
        position: relative;
        margin-top: 3px;
    }

    .header__contacts-time:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        background: url(../images/time2.svg) 50%/contain no-repeat;
    }

    .header__write{
        height: 43px;
        line-height: 41px;
        padding: 5px 15px;
        width: 153px;
        flex-shrink: 0;
    }

    .header__write-icon{
        width: 28px;
        height: 28px;
    }

	.fix-btns{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		border-radius: 20px 20px 0 0;
		box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
		background: #fff;
		z-index: 59;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: wrap;
		padding: 6px 20px 10px;
		height: 62px;
	}

	.fix-btns__btn{
		font-weight: 500;
		font-size: 12px;
		color: #204F63;
		display: block;
		text-decoration: none;
	}
	
	.fix-btns__btn-icon{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-bottom: 1px;
		margin: 0 auto;
		padding: 3px;
		position: relative;
	}

	.fix-btns__btn-icon_blue{
		background: #D4E6EC;
	}

	.fix-btns__btn-number{
		position: absolute;
		right: -9px;
		top: -2px;
		min-width: 14px;
		background: #E84242;
		line-height: 14px;
		border-radius: 7px;
		color: #fff;
		font-size: 9px;
		font-weight: 500;
		text-align: center;
		padding: 0 2px;
	}

	.fix-btns__btn_menu .fix-btns__btn-icon{
		background: #fff;
		width: 58px;
		height: 58px;
		margin-bottom: -1px;
		margin-top: -26px;
	}

    .overlay{
        display: none;
    }


    .main-banner {
        padding: 15px 15px 0;
    }

    .main-banner__title{
        font-size: 32px;
        line-height: 1;
    }

    .main-banner__info{
        max-width: 352px;
    }

    .main-banner__info-desc{
        font-size: 16px;
    }

    .main-banner__colr{
        margin-top: 46px;
        margin-right: auto;
        width: 320px;
        padding-left: 35px;
        max-width: 100%;
    }

    .main-banner__doctor{
        left: 0;
        bottom: 15px;
        width: 246px;
        padding: 9px;
    }

    .main-banner__doctor-name{
        font-size: 18px;
        line-height: 1.17;
    }

    .main-banner__doctor-desc{
        font-size: 10px;
        margin-top: 10px;
        line-height: 1.4;
    }


    .first-section{
        margin-top: 20px;
    }


    .certificates .cont{
        padding: 0;
    }

    .certificates__bg{
        border-radius: 10px;
    }

    ._marg {
        margin-top: 50px;
    }

    .main-title{
        font-weight: 500;
        font-size: 32px;
        line-height: 1;
    }

    .main-title_slider{
        padding-right: 110px;
    }

    .main-title__smile{
        font-size: 28px;
    }

    .certificates__slider .swiper-slide{
        width: 248px;
    }

    .certificate__img{
        aspect-ratio: 1 / 1.246;
    }

    .certificate__name{
        font-size: 18px;
    }


    .video{
        border-radius: 10px;
    }

    .video img{
        aspect-ratio: auto;
        height: 262px;
    }

    .video__play{
        width: 60px;
        height: 60px;
        margin: -30px 0 0 -30px;
    }

    .video__play span{
        width: 32px;
        height: 32px;
        background-size: 14px auto;
    }

    
    .main-services__bg{
        border-radius: 10px;
    }

    .main-services__grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .main-services__item{
        border-radius: 10px;
        grid-column: span 1 !important;
    }

    .main-services__name br{
        display: none;
    }

    .main-services__item:nth-child(1) .main-services__bot,
    .main-services__item:nth-child(2) .main-services__bot{
        gap: 20px;
    }

    .main-services__item:nth-child(1) .main-services__btn,
    .main-services__item:nth-child(2) .main-services__btn{
        width: 100%;
    }

    .main-services__item:nth-child(1) .main-services__more,
    .main-services__item:nth-child(2) .main-services__more{
        width: 100%;
    }


    .btn-wrap{
        margin-top: 25px;
    }

    .btn-white_h{
        font-size: 18px;
        line-height: 55px;
        padding: 0 20px;
    }

    .advantages__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .advantages__item{
        border-radius: 10px;
        grid-column: span 1 !important;

        padding: 18px 94px 18px 20px;
        position: relative;
        min-height: 1px;
    }

    .advantages__icon{
        position: absolute;
        right: 20px;
        top: 20px;

        width: 58px;
        height: 52px;
    }

    .advantages__list{
        margin-top: 5px;
    }

    .advantages__desc{
        margin-top: 5px;
    }


    .main-calculate .cont{
        padding-left: 0;
        padding-right: 0;
    }

    .main-calculate__bg{
        padding-left: 0;
        padding-right: 0;
        border-radius: 10px;
    }

    .main-calculate .main-title{
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-calculate .main-subtitle{
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-subtitle{
        margin-top: 15px;
    }

    .main-calculate__bot{
        margin-top: 24px;
    }

    .main-calculate__img{
        margin-top: -12px;
    }


    .interior__slider{
        border-radius: 0;
        overflow: visible;
    }

    .interior__slider .swiper-slide{
        width: 304px;
    }

    .interior__img{
        border-radius: 10px;
    }

    .interior__img img {
        min-height: 1px;
        aspect-ratio: 1 / 1.0263;
    }


    .comments__slider .swiper-slide{
        width: 304px;
    }

    .comment .video{
        border-radius: 10px;
    }

    .comment .video img{
        aspect-ratio: auto;
        height: 253px;
    }

    .comment__title{
        font-size: 18px;
    }

    .btn-light_h {
        font-size: 18px;
        line-height: 60px;
        padding: 0 25px;
    }

    .comments .btn-light_h{
        min-width: 285px;
    }


    .technologies__slider .swiper-slide {
        width: 304px;
    }

    .technology__img{
        border-radius: 10px;
    }

    .technology__img img{
        aspect-ratio: 1/.819;
    }

    .technology__bot{
        padding-right: 16px;
    }

    .technology__name{
        font-size: 16px;
        line-height: normal;
    }

    .slider-button-prev._top,
    .slider-button-next._top{
        top: -60px;
    }


    .specialists__slider .swiper-slide {
        width: 287px;
    }

    .specialist{
        padding: 6px 2px 19px;
    }

    .specialist__photo{
        margin-bottom: -30px;
    }

    .specialist__experience{
        left: 17px;
        bottom: 48px;
    }

    .specialist__pad{
        padding-left: 17px;
        padding-right: 17px;
    }

    .specialist__name{
        font-size: 18px;
    }


    .consultation__grid {
        gap: 15px;
    }

    .consultation__item {
        min-height: 180px;
        padding: 15px;
    }

    .consultation__desc{
        font-size: 16px;
    }

    .consultation__img {
        width: calc(100% + 30px);
        margin: -15px;
    }

    .consultation__number {
        width: 45px;
        line-height: 45px;
        border-radius: 10px;
    }


    .section-case__slider .swiper-overflow{
        overflow: visible;
    }

    .section-case__slider .section-case__item{
        width: 300px;
    }

    .section-case__coll{
        margin-top: 15px;
        padding: 20px;
    }

    .section-case__title{
        font-size: 22px;
    }

    .section-case__desc{
        font-size: 14px;
    }

    .section-case__doctor{
        padding-top: 31px;
        padding-bottom: 31px;
        flex-wrap: wrap;
    }

    .section-case__doctor-photo{
        width: 57px;
        height: 57px;
        margin: 0 0 5px;
    }

    .section-case__doctor-box{
        width: 100%;
    }

    .section-case__doctor-name{
        font-size: 15px;
    }

    .section-case__doctor-position{
        font-size: 12px;
        margin-top: 5px;
    }


    .btn-bord_h{
        font-size: 18px;
        padding: 0 19px;
    }


    .media-about-us__slider .swiper-slide{
        width: 304px;
    }

    .media-about-us__pad{
        padding: 14px 16px 18px;
    }

    .media-about-us__date span {
        line-height: 20px;
        padding: 0 9px;
        font-size: 9px;
    }

    .media-about-us__name{
        font-size: 18px;
    }

    .media-about-us__desc{
        font-size: 12px;
        margin-top: 9px;
    }

    .media-about-us__bot{
        padding-top: 18px;
    }

    .media-about-us__more{
        font-size: 14px;
    }


    .media-contacts__grid_inner .media-contacts__item._light{
        grid-column: span 2;
    }

    .media-contacts__grid_inner .media-contacts__item:first-child{
        grid-column: span 2;
    }

    .media-contacts__adres{
        font-size: 18px;
    }

    .media-contacts__time{
        font-size: 18px;
    }

    .media-contacts__desc{
        font-size: 18px;
    }

    .media-contacts__map{
        margin-top: 10px;
        height: 211px;
        border-radius: 10px;
    }


    .top-service{
        padding: 20px 0 180px;
        flex-wrap: wrap;
        position: relative;
    }

    .top-service__coll{
        padding: 0 20px 0;
        position: static;
    }

    .top-service__bot{
        position: absolute;
        left: 20px;
        bottom: 80px;
        width: calc(100% - 40px);
        max-width: none;
        gap: 15px;
        padding: 15px;
    }

    .top-service__bot-time{
        font-size: 18px;
    }

    .top-service__colr{
        width: 100%;
        margin: 17px 0 0;
        position: relative;
    }

    .top-services__slider .slider-button-next{
        bottom: 20px;
        left: 50%;
        margin-left: 8px;
    }

    .top-services__slider .slider-button-prev{
        left: auto;
        right: 50%;
        margin-right: 8px;
        bottom: 20px;
    }

    .top-service__desc {
        font-size: 14px;
    }

    .top-service__prices{
        margin-top: 15px;
    }

    .top-service__price{
        font-size: 32px;
    }

    .top-service__oldprice{
        font-size: 16px;
    }

    .top-service__btn{
        margin-top: 20px;
    }

    .top-service__time{
        right: 20px;
        top: -124px;
        bottom: auto;
        padding: 5px 10px;
        width: 122px;
    }

    .top-service__time-circle{
        width: 31px;
        height: 31px;
    }

    .top-service__time-text{
        font-size: 12px;
        line-height: 1.25;
    }

    .top-service__img{
        padding-right: 20px;
        max-width: 500px;
        margin: 0 auto;
        position: static;
    }


    .btn-blue_h {
        font-size: 18px;
        line-height: 60px;
    }


    .breadcrumbs_pad{
        padding-top: 30px;
        padding-bottom: 35px;
    }


    .prices__bg{
        padding: 15px;
    }

    .prices__grid{
        gap: 10px;
        margin-top: 20px;
    }

    .prices__item{
        padding: 15px;
    }

    .prices__name{
        font-size: 16px;
    }

    .prices__check{
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .prices__check svg{
        width: 11px;
        height: 11px;
    }


    .price-services__bg{
        padding: 15px;
    }

    .table-price__prices-flex{
        display: block;
    }

    .table-price tr {
        grid-template-columns: 1fr 120px;
    }

    
    .review__bg{
        border-radius: 15px;
        padding: 15px;
    }

    .review__bg::before{
        top: 17px;
        right: 20px;
        width: 98px;
        height: 70px;
    }

    .review__title{
        max-width: 100%;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .review__bot{
        margin-top: 20px;
    }

    .review__user{
        font-size: 16px;
        line-height: normal;
    }
    
    .review__info{
        font-size: 12px;
        line-height: 1.33;
    }

    .text-block{
        font-size: 14px;
        line-height: normal;
    }


    .stages-work__bg{
        padding: 15px;
        border-radius: 15px;
    }

    .stages-work__item{
        gap: 15px;
        padding-bottom: 25px;
    }

    .stages-work__item::before{
        left: 13.5px;
    }

    .stages-work__number{
        width: 28px;
        line-height: 28px;
        font-size: 18px;
        border-radius: 5px;
    }

    .stages-work__title{
        font-size: 24px;
        line-height: 1.08;
    }

    .stages-work__desc{
        margin-top: 5px;
    }

    .stages-work__img{
        margin-top: 15px;
    }

    .page-title{
        font-weight: 500;
        font-size: 32px;
        line-height: 1;
    }


    .small-title{
        font-size: 24px;
        line-height: 1.08;
    }


    .service-info__items {
        display: grid;
        gap: 10px;
    }

    .service-info__item-dot{
        margin-bottom: 10px;
    }

    .service-info__item-title{
        font-size: 18px;
    }

    .service-info__item-desc{
        font-size: 14px;
        margin-top: 10px;
    }


    .service-info__info{
        padding: 15px;
        border-radius: 15px;
    }

    .service-info__info-icon {
        width: 28px;
        height: 28px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .service-info__info-icon svg{
        width: 12px;
        height: 12px;
    }


    .service-info__doctor{
        padding: 15px;
        border-radius: 15px;
    }

    .rvice-info__doctor-photo{
        width: 65px;
        height: 65px;
    }

    .rvice-info__doctor-name{
        font-size: 18px;
        line-height: 1.17;
    }

    .rvice-info__doctor-position{
        font-size: 14px;
    }

    .service-info__service{
        padding: 15px;
        border-radius: 15px;
    }

    .service-info__service-flex{
        gap: 5px;
    }

    .service-info__service-link{
        font-size: 12px;
    }

    .service-info__slider{
        border-radius: 10px;
    }

    .service-info__img {
        border-radius: 10px;
    }

    .service-info__btn{
        font-size: 20px;
        line-height: 67px;
    }


    .service-top__coll{
        padding: 15px;
        border-radius: 15px;
    }

    .service-top__desc{
        margin-top: 15px;
    }

    .service-top__prices{
        margin-top: 15px;
    }

    .service-top__price{
        font-size: 32px;
    }

    .service-top__oldprice{
        font-size: 20px;
    }

    .service-top__bot{
        margin-top: 15px;
        padding: 15px;
    }

    .service-top__icon{
        width: 28px;
        height: 34px;
    }

    .service-top__bot-colr{
        width: 130px;
    }

    .service-top__img{
        border-radius: 15px;
    }

    .service-top__flex{
        gap: 12px;
    }
    
    .content_marg{
        margin-top: 50px;
    }

    .aside{
        padding: 14px 14px 0;
    }

    .aside__list {
        max-height: 265px;
    }

    .inner-advantages__grid{
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .inner-advantages__item {
        align-items: stretch;
        align-content: stretch;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .inner-advantages__box{
        order: 0;
        gap: 5px;
    }

    .inner-advantages__title{
        font-size: 24px;
        line-height: 1.33;
    }

    .inner-advantages__icon{
        width: 48px;
        height: 55px;
        justify-content: flex-end;
        align-self: center;
    }


    .content__coll .section-case__title{
        font-size: 22px;
        line-height: 1.08;
    }

    .content__coll .section-case__desc {
        font-size: 14px;
        line-height: normal;
    }

    .content__coll .section-case__doctor {
        padding-top: 31px;
        padding-bottom: 31px;
    }

    .content__coll .section-case__doctor-photo {
        width: 57px;
        height: 57px;
        margin: 0 0 5px;
    }

    .content__coll .section-case__doctor-name {
        font-size: 15px;
    }

    .content__coll .section-case__doctor-position{
        font-size: 12px;
        margin-top: 4px;
    }

    .content__coll .section-case__more {
        font-size: 14px;
        padding-right: 26px;
    }

    .content__coll .section-case__more svg {
        margin-top: -4px;
        width: 16px;
        height: 8px;
    }

    .content__coll .section-case .btn-wrap{
        margin-top: 25px;
    }


    .check-list-bg{
        border-radius: 15px;
        padding: 20px 15px;
    }

    .check-list li::before{
        top: 1px;
    }

    .check-list li::after{
        top: 5px;
    }

    .check-list li{
        line-height: normal;
        padding-left: 30px;
    }

    .cross-list-border{
        padding: 14px;
        border-radius: 15px;
    }

    .cross-list li{
        padding-left: 30px;
        line-height: normal;
    }

    .cross-list li + li{
        margin-top: 10px;
    }

    .cross-list li::before{
        top: 1px;
    }

    .indicat-cont__note{
        margin-top: 10px;
        padding: 15px;
        border-radius: 10px;
        line-height: normal;
    }

    .indicat-cont__box + .indicat-cont__box{
        margin-top: 50px;
    }

    .circle-list li + li{
        margin-top: 10px;
    }

    .circle-list li::before{
        top: 1px;
    }

    .indicat-cont__coll{
        margin-top: 25px;
        width: 378px;
        max-width: 71.65%;
    }

    .indicat-cont__img{
        border-radius: 10px 10px 10px 0;
    }

    .stages-work__bg-green{
        padding: 15px;
    }

    .stages-work__desc-medium{
        font-size: 18px;
    }

    .faq__item{
        padding: 15px;
        border-radius: 15px;
    }

    .faq__open{
        font-size: 18px;
        line-height: 1.17;
    }

    .faq__open-btn{
        width: 32px;
        height: 32px;
        margin-left: 10px;
    }

    .faq__open-close{
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
    }

    .faq__open-close span{
        height: 2px;
    }

    .faq__open-close span:nth-child(1) {
        top: 9px;
    }

    .faq__open-close span:nth-child(2) {
        top: 7px;
    }

    .faq__open-arrow{
        border-bottom-width: 2px;
        border-right-width: 2px;
        width: 10px;
        height: 10px;
        margin-top: -7px;
        margin-left: -5px;
    }

    .faq__data{
        padding-top: 10px;
    }

    .faq__desc{
        padding-right: 15px;
    }


    .inner-service__bot{
        text-align: left;
    }

    .inner-service__bot .btn-light{
        font-size: 20px;
        line-height: 67px;
    }


    .service-top__box{
        margin-top: 15px;
        padding: 10px;
        min-width: 158px;
    }

    .service-top__box-price{
        font-size: 24px;
        line-height: 1.08;
    }

    .service-top__list{
        margin-top: 19px;
    }

    .service-top__list li + li{
        margin-top: 19px;
    }

    .service-top__list li::before{
        top: 1px;
    }

    .service-top__wrap{
        margin-top: 19px;
    }

    .service-top__wrap .btn-blue{
        font-size: 16px;
        line-height: 50px;
    }

    .text-block ul{
        margin-bottom: 20px;
    }

    .text-block li::before{
        top: 1px;
    }

    .text-block li + li{
        margin-top: 19px;
    }

    .text-block h1{
        font-size: 32px;
        line-height: 1;
    }

    .text-block h2{
        font-size: 24px;
        line-height: 1.08;
        margin-bottom: 15px;
    }

    .text-block h3{
        font-size: 18px;
        line-height: 1.17;
        margin-bottom: 15px;
    }

    .text-block h4{
        font-size: 16px;
        line-height: 1.17;
    }

    .text-block h5{
        font-size: 14px;
        line-height: 1.17;
    }


    .make-appointment__bg{
        border-radius: 10px;
    }

    .make-appointment__coll{
        padding: 20px 0 20px 20px;
    }

    .make-appointment__box{
        max-width: none;
    }

    .make-appointment__desc{
        font-size: 16px;
        font-weight: 400;
    }

    .make-appointment__btn{
        min-width: 1px;
        width: 100%;
        font-size: 16px;
        padding: 0 12px;
    }

    .make-appointment__colr img{
        border-radius: 0 10px 10px 0;
    }


    .text-block__cols ._blue{
        padding: 15px;
        border-radius: 10px;
    }

    .text-block__cols ._gray{
        padding: 15px;
        border-radius: 10px;
    }


    .inner-img__text p{
        margin-bottom: 14px;
    }

    .inner-img__text b{
        font-size: 18px;
    }

    .media-about-us__grid{
        gap: 10px 0;
        margin-top: 15px;
        margin-left: -10px;
    }

    .media-about-us__grid .media-about-us__item {
        width: calc(100% / 2 - 10px);
        margin-left: 10px;
    }


    .table-slider{
        overflow: visible;
    }

    .main-table .th-title{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 24px;
        line-height: 1.08;
        padding-left: 0;
        padding-right: 0;
    }

    .tooltip__wrap{
        left: auto;
        right: 3px;
    }
	/* commit */

	.doctor-info__bg
	{
		border-radius: 15px;
	}

	.doctor-info__coll
	{
		width: 100%;
		padding: 15px;
	}

	.doctor-info__colr
	{
		width: 100%;
		margin-top: 30px;
		justify-content: center;
	}

	.doctor-info__btns
	{
		margin-top: 10px;
	}

	.doctor-info__img
	{
		margin-left: 0;
		margin-right: 0;
	}

	.imp-info__bg
	{
		border-radius: 15px;
	}

	.text-block.text-block_size
	{
		font-size: 16px;
	}

	.experience__item
	{
		border-radius: 15px;
	}

	.experience__list li::before
	{
		top: 0;
	}

	
	.reviews-doctor__item
	{
		border-radius: 15px;
	}


	.contacts-page__item 
	{
		width: calc(100% / 1 - 22px);
		border-radius: 10px;
		padding: 20px;
	}

	.contacts-page__icon
	{
		height: 49px;
	}

	.contacts-page__info._marg-tablet
	{
		margin-top: 25px;
	}

	.contacts-page__phone
	{
		font-size: 24px;
	}

	.contacts-page__info-title
	{
		font-size: 24px;
	}

	.contacts-page__time
	{
		margin-top: 5px;
	}


	.contacts-page__coll
	{
		border-radius: 10px;
		padding: 15px;
	}

	.contacts-page__get-title
	{
		font-size: 28px;
	}

	.contacts-page__get-adres
	{
		margin-top: 15px;
	}

	.contacts-page__get-item
	{
		border-radius: 10px;
		padding: 15px;
		margin-top: 15px;
	}

	.contacts-page__get-open::before
	{
		top: 1px;
	}

	.contacts-page__get-open::after
	{
		top: 7px;
	}

	.contacts-page__get-item._active .contacts-page__get-open::after
	{
		top: 6px;
	}

	.contacts-page__get-list li
	{
		padding-left: 20px;
	}

	.contacts-page__get-list li::before
	{
		left: 7px;
	}

	.contacts-page__colr
	{
		border-radius: 10px;
	}


	.details-info__bg
	{
		border-radius: 10px;
		padding: 20px;
	}

	.details-info__item + .details-info__item 
	{
		margin-top: 5px;
	}


    .footer{
        margin: 30px auto 0;
        max-width: calc(100% - 40px);
        border-radius: 10px 10px 0 0;
        padding: 30px 0 30px;
    }

    .footer__logo img{
        max-width: 136px;
    }

    .footer__contact{
        width: 100%;
    }

    .footer__flex{
        margin-top: 36px;
        gap: 30px 20px;
    }

    .footer__title{
        font-size: 14px;
    }

    .footer__time{
        font-size: 14px;
        margin-top: 7px;
    }

    .footer__adres{
        font-size: 14px;
        margin-top: 30px;
    }

    .footer__mail,
    .footer__phone{
        font-size: 14px;
        margin-top: 7px;
    }

    .footer__version{
        margin-top: 7px;
        font-size: 14px;
    }

    .footer__rating{
        margin-top: 15px;
        padding-top: 0;
        height: 35px;
    }

    .footer__list_price{
        width: 50%;
    }
    .footer__list_about{
        width: 40%;
    }

    .footer__list_service{
        order: 0;
        width: 100%;
        margin-top: -100px;
    }

    .footer__list_info{
        width: 100%;
    }

    .footer__list-item{
        font-size: 14px;
        margin-top: 7px;
    }

    .footer__bot{
        margin-top: 25px;
    }


    .modal {
        width: 335px;
    }

    .fancybox__slide .f-button[data-fancybox-close]{
        top: 15px;
        right: 15px;
        width: 16px;
        height: 16px;
    }

    .modal__pad{
        padding: 20px;
    }

	.modal_small .modal__pad{
		padding-left: 20px;
		padding-right: 20px;
	}

    .modal__title {
        font-size: 24px;
    }

    .modal .form{
        margin-top: 15px;
    }

    .form__line{
        margin-bottom: 15px;
    }

    .form .form__input{
        height: 45px;
        padding: 0 14px;
        font-size: 14px;
        line-height: normal;
    }

    .form .form__textarea{
        height: 100px;
        padding: 14px;
        font-size: 14px;
        line-height: normal;
    }

	.select-wrap .nice-select .current{
		height: 45px;
        padding: 0 34px 0 14px;
        font-size: 14px;
		line-height: 43px;
	}

	.select-wrap .nice-select .list .scrollbar{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.select-wrap .nice-select .list .list_item{
		font-size: 14px;
		padding-left: 14px;
		padding-right: 14px;
	}

	.select-wrap .nice-select .current:after {
		right: 14px;
		margin-top: -5px;
		border-top: 8px solid #1986AC;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

    .checkbox__text{
        font-size: 8px;
    }

    .checkbox__text br{
        display: none;
    }

    .form__submit{
        margin-top: 15px;
    }
}